{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto center" style="min-height: 90vh;">
                    <div class="text-center p-4 backdrop">
                        <p class="h3 text-white fw-bold">Welcome to MyHood Community</p>
                        <p class="text-white">This is a platform where individuals from a particular locality can identify themselves in a given community. Are you new here and want to connect, get informed and interact with others?</p>
                        <a href="{% url 'hood' %}" class="btn btn-outline-light mt-3 fw-bold">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}