{% extends 'base.html' %}

{% block content %}
<div class="container " style="background-image: url(static/images/pro.jpg);">
    
    <div class="card col-md-4 mt-4 bg-white prof mr-2 ml-8" style="width: 18rem;">
        <img class="card-img-top" src="{{ user.profile.profile_picture.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-center mt-3">{{user.username}}</h5>
          <h5 class="text-center"> {{user.email}}</h5>
          {% if request.user.profile.neighbourhood %}
          <h5 class="text-center">My Hood <a class="btn btn-sm btn-info" href="{% url 'single-hood' user.profile.neighbourhood.id %}">{{ user.profile.neighbourhood.name }}</a>
          </h5>
          {% endif %}
          <div class="col-md-3"></div>
        </div>
      </div>


</div>
{% endblock %}